In [2]:
# Se importa la libreria Pandas que permite la carga y visualizacion de los archivos
import pandas as pd

## Creación de los DataFrames que contienen los Titulos de peliculas y series

In [4]:
amazon = pd.read_csv('.\Datasets\\amazon_prime_titles.csv', encoding='utf-8')
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [10]:
disney = pd.read_csv(r'..\Datasets\disney_plus_titles.csv', encoding='utf-8')
disney.head()

FileNotFoundError: [Errno 2] No such file or directory: '..\\Datasets\\disney_plus_titles.csv'

In [ ]:
hulu = pd.read_csv('..\Datasets\hulu_titles.csv', encoding='utf-8')
hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [ ]:
netflix = pd.read_json(r'..\Datasets\netflix_titles.json', encoding='utf-8')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Revision y analisis de los datos de los dataframes

In [ ]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [ ]:
amazon.isnull().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [ ]:
amazon.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5859,s5860,TV Show,Douluo Continent,NaN,"Sean Xiao, Betty Wu, Gao Tai Yu, Liu Mei Tong,...",NaN,NaN,2021,13+,1 Season,"Action, Romance, Science Fiction",It tells the story of Tang San who overcomes m...
8838,s8839,Movie,Jamie: Drag Queen at 16,Jenny Popplewell,"Jamie Campbell, Margaret Campbell",NaN,NaN,2011,13+,56 min,Documentary,This moving and uplifting documentary follows ...
4914,s4915,Movie,Give,Steve Dayton,"Jason Anderson, Suzette Murty, Leo Dayton, Iri...",NaN,NaN,2020,13+,76 min,"Drama, Science Fiction","In this psychological thriller, a father deals..."
2085,s2086,TV Show,IRODUKU : The World in Colors,NaN,"Kaori Ishihara, Kaede Hondo, Shoya Chiba, Kana...",NaN,NaN,2018,NR,1 Season,TV Shows,In a world in the future where magic is still ...
7309,s7310,Movie,Jack Goes Boating,Philip Seymour Hoffman,"Philip Seymour Hoffman, Amy Ryan, Daphne Rubin...",NaN,NaN,2010,R,91 min,Romance,Academy-Award-winner Philip Seymour Hoffman di...

In [ ]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [ ]:
disney.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [ ]:
disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1020,s1021,Movie,Lilo & Stitch,"Christopher Sanders, Dean DeBlois","Daveigh Chase, Christopher Sanders, Tia Carrer...",United States,"November 12, 2019",2002,TV-PG,86 min,"Action-Adventure, Animation, Family",A little girl adopts a wanted alien wreaking h...
1420,s1421,Movie,You Lucky Dog,Paul Schneider,"Kirk Cameron, Chelsea Noble, John de Lancie, C...",United States,"November 12, 2019",1998,TV-G,88 min,"Comedy, Fantasy",Jack Morgan discovers a psychic connection bet...
1286,s1287,Movie,The Hunchback of Notre Dame,"Gary Trousdale, Kirk Wise","Tom Hulce, Demi Moore, Tony Jay, Kevin Kline, ...","United States, France","November 12, 2019",1996,G,96 min,"Action-Adventure, Animation, Family",Quasi leaves his tower in Notre Dame to help a...
165,s166,TV Show,Shark Attack Files,NaN,NaN,NaN,"July 16, 2021",2021,TV-14,1 Season,"Animals & Nature, Docuseries, Reality",Learn the truth behind the most dramatic shark...
882,s883,Movie,Expedition Mars: Spirit & Opportunity,Mark Davis,Bray Poor,United States,"November 12, 2019",2019,TV-PG,88 min,Documentary,Expedition Mars explores the epic adventures o...

In [ ]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [ ]:
hulu.isnull().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [ ]:
hulu.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1542,s1543,Movie,The House That Jack Built,NaN,NaN,"Denmark, France, Sweden, Germany, Belgium, Tun...","July 2, 2020",2018,R,151 min,"Crime, Drama, Horror",Jack is a serial killer who views each murder ...
2573,s2574,Movie,Tiny Toons Spring Break Special,NaN,NaN,United States,"January 4, 2018",1994,TV-G,46 min,Kids,"Sun, sand and a wacky time are had by all when..."
40,s41,Movie,In the Crease,NaN,NaN,NaN,"October 13, 2021",2020,NaN,NaN,Sports,Post-game analysis and highlight show airing e...
1343,s1344,TV Show,Let's Be Real,NaN,NaN,NaN,"October 2, 2020",2020,TV-14,1 Season,Comedy,Satirical puppet series covering politics and ...
371,s372,Movie,The Fantasy Show,NaN,NaN,NaN,"August 10, 2021",2017,NaN,NaN,Sports,Noted fantasy sports expert Matthew Berry prov...

In [ ]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [ ]:
netflix.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5865,s5866,Movie,Marvel Super Hero Adventures: Frost Fight!,Mitch Schauer,"Mick Wingert, Matthew Mercer, Travis Willingha...",United States,"February 24, 2016",2015,PG,74 min,"Children & Family Movies, Sci-Fi & Fantasy","In this Christmas-themed special, Captain Amer..."
6781,s6782,Movie,For the Love of Benji,Joe Camp,"Patsy Garrett, Cynthia Smith, Allen Fiuzat, Ed...",United States,"March 6, 2018",1977,G,84 min,Children & Family Movies,Benji and his owner get separated in Greece. O...
5522,s5523,Movie,Sand Castle,Fernando Coimbra,"Nicholas Hoult, Logan Marshall-Green, Henry Ca...",United States,"April 21, 2017",2017,TV-MA,113 min,"Action & Adventure, Dramas, Independent Movies","After the invasion of Iraq in 2003, a reluctan..."
1753,s1754,Movie,Elliot the Littlest Reindeer,Jennifer Westcott,"Josh Hutcherson, Samantha Bee, Martin Short, M...",Canada,"November 1, 2020",2018,PG,90 min,Children & Family Movies,"When Blitzen suddenly retires, a miniature hor..."
3784,s3785,TV Show,March Comes in Like a Lion,None,"Kengo Kawanishi, Ai Kayano, Kana Hanazawa, Mis...",Japan,"June 1, 2019",2017,TV-14,2 Seasons,"Anime Series, International TV Shows, Teen TV ...","Orphaned young, a reclusive 17-year-old profes..."

## Conclusiones

- En todos los dataframes se encuentran valores nulos en diferentes columnas, principalmente en "director", "country", "cast", "date_added", entre otras
- Las columnas "cast" y "listed_in" tienen varios datos separados por ', ' 
- La columna "duration" contiene tanto la duraccion en minutos de una película asi como tambien la cantidad de temporadas de una serie

### ---Procedemos a realizar la Extraccion, Transformacion y Carga de nuestros datos---

In [ ]:
# Hacemos una copia de los dataframes para ariesgar la modificacion de los originales

amazon_df=amazon.copy()
disney_df=disney.copy()
hulu_df=hulu.copy()
netflix_df=netflix.copy()

In [ ]:
# Agrego una columna a cada dataframe para para asignarle la plataforma a que pertenecen
amazon_df['Plataforma']='amazon'
disney_df['Plataforma']='disney'
hulu_df['Plataforma']='hulu'
netflix_df['Plataforma']='netflix'

In [ ]:
# Remplazo de campos vacios en la columna "duration"
hulu_df['duration'].fillna('sin datos',inplace=True)
netflix_df['duration'].fillna('sin datos',inplace=True)

In [ ]:
# Funcion que divide la columna "duration"
def sepdurationcolum(df):
    df['seasson_quantity']=df['duration'].apply( lambda i: i.split()[0] if i.split()[1]=='Seasons' else '0')      
    df['movie_duration']=df['duration'].apply( lambda i: i.split()[0] if i.split(" ",1)[1]=='min' or i.split(" ",1)[1]=='min' else '0')
    return df

In [ ]:
# Implementacion de la funciona anterior para cada dataset
amazon_df=sepdurationcolum(amazon_df)
disney_df=sepdurationcolum(disney_df)
hulu_df=sepdurationcolum(hulu_df)
netflix_df=sepdurationcolum(netflix_df)

# Ahora tengo dos columnas mas en cada dataset que informan la cantidad de temporadas (seasson_quantity) o la duracion en minutos de una película (movie_duration)

In [ ]:
# Eliminacion de la columna "duration" en cada dataset ya que no es necesaria a fines practicos 
amazon_df.drop(columns='duration', inplace=True)
disney_df.drop(columns='duration', inplace=True)
hulu_df.drop(columns='duration', inplace=True)
netflix_df.drop(columns='duration', inplace=True)

In [ ]:
# se concatenan lo dataframdes
final_df=pd.concat([amazon_df, disney_df, hulu_df, netflix_df], axis=0)

In [ ]:
# Verifico los tipos de datos de cada columna
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           22998 non-null  object
 1   type              22998 non-null  object
 2   title             22998 non-null  object
 3   director          14739 non-null  object
 4   cast              17677 non-null  object
 5   country           11499 non-null  object
 6   date_added        13444 non-null  object
 7   release_year      22998 non-null  int64
 8   rating            22134 non-null  object
 9   listed_in         22998 non-null  object
 10  description       22994 non-null  object
 11  Plataforma        22998 non-null  object
 12  seasson_quantity  22998 non-null  object
 13  movie_duration    22998 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.6+ MB

In [ ]:
# Transformo tipo de dato para poder hacer las consultas 
final_df.seasson_quantity=final_df.seasson_quantity.astype(int) 
final_df.movie_duration=final_df.movie_duration.astype(int)

In [ ]:
# Se llena los datos faltantes
final_df.fillna('Sin dato', inplace=True)

In [ ]:
# Se guarda un dataset con EDA y ETL para futuras transformaciones
final_df.to_csv('../Datasets/Archivos_Trabajados.csv')

## Se eliminan columnas no necesarias para las consignas establecidas

In [ ]:
# se eliminan las coluimnas que no son necesarias paar el requerimiento del cliente
final_df.drop(columns=['show_id', 'director', 'country', 'date_added', 'rating', 'description'], inplace=True)

In [ ]:
# Exporto, el dataframe resultante para nuestro caso, como final.csv a la carpeta Datasets
final_df.to_csv('../Datasets/final.csv', index=False)

## Se crea la estructura para probar y luego convertirlas en funcion

In [ ]:
# Filtro por año y plataforma
df3=final_df[(final_df['release_year']==2018) & (final_df['Plataforma']=='hulu')]  
a=df3.movie_duration.max()
titulo=df3[df3.movie_duration==a] ['title']
titulo=titulo.to_list()
titulo=titulo[0]
titulo

'The House That Jack Built'

In [ ]:
# Filtro de genero por plataforma amazon
((final_df['listed_in'].str.contains('Comedy')) & (final_df['Plataforma']=='amazon')).sum()

2099

In [ ]:
# Cantidad de titulos por plataforma
resultado=((final_df['Plataforma']=='netflix') & (final_df['type'].str.contains('Movie'))).sum()
resultado2=((final_df['Plataforma']=='netflix') & (final_df['type'].str.contains('TV Show'))).sum()
resultado,resultado2

(6131, 2676)

In [ ]:

df2=final_df[(final_df['Plataforma']=='netflix') & (final_df['release_year']==2018)] # se cre un dataframe auxiliar (df2) con la mascara correspondiente 
for i in df2['cast']:           # reemplazo de ', ' por ',' para omitir los espacios vacios
    if i != 'Sin dato':
        i=i.replace(', ', ',')
    else:
        continue
lista=[]
for i in df2['cast']:
    if i != 'Sin dato':
        s=i.split(',')
        for j in range(len(s)):             # se extrae una lista de cast individuales haciendo split donde hay ','
            if s[j] not in lista:
                lista.append(s[j])
            else:
                continue
    else:
        continue
lista=list(set(lista))  # se establece valores unicos y lo volvemos a convertir en lista
c=0
dicc={}
for i in lista:
    c=0
    for j in df2['cast']:       # se crea un diccionario que almacena cada actor y la cantidad de veces que parece
        if i in j.split(','):
            c+=1
    dicc[i]=c
max(dicc, key=dicc.get)     # se extrae el de mayor aparicion

' Andrea Libman'

## Se crean funciones para usar como parametros de las consultas en FastAPI

In [ ]:
def get_listedin(genero:str):
    a=((final_df['listed_in'].str.contains(genero)) & (final_df['Plataforma']=='amazon')).sum()
    b=((final_df['listed_in'].str.contains(genero)) & (final_df['Plataforma']=='disney')).sum()
    c=((final_df['listed_in'].str.contains(genero)) & (final_df['Plataforma']=='hulu')).sum()
    d=((final_df['listed_in'].str.contains(genero)) & (final_df['Plataforma']=='netflix')).sum()
    lista=[a,b,c,d]
    resultado=max(lista)
    return int(resultado)
    
get_listedin('Comedy')

2099

In [ ]:
def get_actor(plataforma=str, anio=int):
    df2=final_df[(final_df['Plataforma']==plataforma) & (final_df['release_year']==anio)]
    for i in df2['cast']:
        if i != 'Sin dato':
            i=i.replace(', ', ',')
        else:
            continue
    lista=[]
    for i in df2['cast']:
        if i != 'Sin dato':
            s=i.split(',')
            for j in range(len(s)):             
                if s[j] not in lista:
                    lista.append(s[j])
                else:
                    continue
        else:
            continue
    lista=list(set(lista))
    c=0
    dicc={}
    for i in lista:
        c=0
        for j in df2['cast']:
            if i in j.split(','):
                c+=1
        dicc[i]=c
    return print(max(dicc, key=dicc.get))

get_actor('netflix', 2018)

 Andrea Libman

In [ ]:
def get_max_duration(anio:int,plataforma:str,min_o_seasson:str):
    df3=final_df[(final_df['release_year']==anio) & (final_df['Plataforma']==plataforma)]
    if min_o_seasson == 'min':
        a=df3.movie_duration.max()
        titulo=df3[df3.movie_duration==a] ['title']
        titulo=titulo.to_list()
        titulo=titulo[0]
    else:
        a=df3.seasson_quantity.max()
        titulo=df3[df3.seasson_quantity==a] ['title']
        titulo=titulo.to_list()
        titulo=titulo[0]
    return titulo

get_max_duration(2018,'hulu','min')

'The House That Jack Built'

In [ ]:
def get_count_plataform(plataforma=str):
    resultado1=((final_df['Plataforma']==plataforma) & (final_df['type'].str.contains('Movie'))).sum()
    resultado2=((final_df['Plataforma']==plataforma) & (final_df['type'].str.contains('TV Show'))).sum()
    return ('Plataforma: ',plataforma,'     Movie: ' ,resultado1,'   TV Show: ',resultado2 )

get_count_plataform('netflix')

NameError: name 'final_df' is not defined